@page
@model AirlinedatabaseSystem.Pages.airport_gates.airport_gatesModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Airport Gates Details</title>
    <link href="~/css/customers.css" rel="stylesheet" type="text/css">
</head>
<body class="bg-airportgates">
    
        <h2>Displaying the airport gates details</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Gate ID</th>
                    <th>Airport Code</th>
                    <th>Gate Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var gate in Model.ListAirportGates)
                {
                    <tr>
                        <td>@gate.GateId</td>
                        <td>@gate.AirportCode</td>
                        <td>@gate.GateNumber</td>
                    </tr>
                }
            </tbody>
        </table>
   
</body>
</html>